@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    table td strong {
        white-space: nowrap;
    }

    table td a {
        white-space: nowrap;
    }

    table th {
        white-space: nowrap;
    }
}

.tm-max-w-sm {
    @apply max-w-sm;
}

.tm-max-w-md {
    @apply max-w-md;
}
