/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

@font-face {
    font-family: 'Nunito';
    font-weight: 100 500;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600 900;
    font-display: block;
    font-style: bold;
    font-named-instance: 'Bold';
    src: url('/fonts/Nunito-Bold.woff2') format('woff2');
}

:root {
    --vp-font-family-base: 'Nunito', 'Inter var', 'Inter', ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /* --vp-font-family-mono: code font */
}

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
    --zl-primary-bg: #fb5c75;
    --zl-secondary-bg: #44cf8f;
    --zl-primary-color: rgb(239 68 68);

    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-c-brand-1: var(--zl-primary-color);
    --vp-c-brand-2: var(--zl-primary-color);
    --vp-c-brand-3: var(--zl-secondary-bg);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-text-1: #444c55;
    --vp-c-text-2: rgb(100 116 139/1) --vp-c-text-3: rgba(60, 60, 67, 0.56);
}

.dark {
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/**
 * theme: General
 * -------------------------------------------------------------------------- */

.tm-lead {
    font-size: 1.25em;
    line-height: 1.6;
}

/**
 * layout: Doc
 * -------------------------------------------------------------------------- */

:root {
    --vp-code-bg: transparent;
    --vp-code-color: rgb(14 165 233 / 1);
}

.vp-doc p,
.vp-doc summary {
    margin: 25px 0;
}

.vp-doc strong {
    font-weight: 800;
}

.vp-doc h2 {
    padding-top: 32px;
}

.vp-doc h2 .header-anchor {
    top: 32px;
}

.vp-doc th,
.vp-doc tr {
    background-color: inherit !important;
}

.vp-doc th {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--vp-c-text-3);
}

.vp-doc th,
.vp-doc td,
.vp-doc thead tr {
    border: none;
}

.vp-doc a:not(:hover) {
    text-decoration: none !important;
}

.vp-doc :not(pre) > code {
    padding: 0;
}

.vp-doc :not(pre) > code:before,
.vp-doc :not(pre) > code:after {
    content: '`';
}

.vp-doc hr {
    margin: 3em 0;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: #444c55;
    --vp-c-bg-alt: rgb(248 250 252);
    --vp-sidebar-bg-color: var(--vp-c-bg-alt);
}

/**
 * Component: Hero
 * -------------------------------------------------------------------------- */

.VPHero .main .name {
    font-size: 34px;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
    --vp-custom-block-font-size: 15px;

    --vp-custom-block-tip-bg: rgb(240 249 255/1);
    --vp-custom-block-tip-code-bg: transparent;

    /* --vp-custom-block-warning-bg: rgb(255 247 237); */
    /* --vp-custom-block-warning-text: rgb(180, 83, 9); */
}

.vp-doc .custom-block {
    margin: 26px 0;
    padding: 16px 16px 8px;
    border-radius: 8px;
}

.vp-doc .custom-block + .custom-block {
    margin-top: -26px;
}

.vp-doc .custom-block .custom-block-title {
    font-weight: 800;
}

.vp-doc .custom-block.tip code {
    color: var(--vp-code-color);
}

.vp-doc .custom-block.details {
    padding: 0;
    background-color: transparent;
}

.vp-doc .custom-block a {
    color: var(--vp-c-brand-1) !important;
}

.vp-doc .custom-block a:hover {
    opacity: 1;
}

/**
 * Component: VPSidebarNav, SidebarItem
 * -------------------------------------------------------------------------- */

#VPSidebarNav {
    margin-top: 25px;
}

.VPSidebar .group + .group {
    border-top: 0;
}

.VPSidebarItem.is-active > .item .indicator {
    background-color: var(--vp-c-brand-1);
}

.VPSidebarItem .VPLink .text {
    color: rgb(100 116 139 / 1) !important;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

:root {
    --vp-nav-bg-color: var(--zl-primary-bg);
    --vp-nav-logo-height: 38px;
    --vp-nav-zl-icon: #febfca;
}

.VPNav {
    background-color: var(--vp-nav-bg-color);
}

.VPNav .divider {
    display: none;
}

.VPNav .VPMenuGroup .title {
    font-size: 12px;
}

.VPNav .VPNavBarMenuGroup .text,
.VPNav .VPNavBarMenuLink {
    color: var(--vp-c-white) !important;
}

.VPNav .VPNavBarMenuGroup:hover .text,
.VPNav .VPNavBarMenuLink:hover {
    color: var(--vp-c-white) !important;
}

.VPNav .VPNavBarMenuLink.active {
    color: var(--vp-c-white) !important;
    position: relative;
}

.VPNav .VPNavBarMenuLink.active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 3px;
    background-color: var(--vp-c-white);
    left: 0;
    right: 0;
    transition: none;
}

.VPNav .VPSocialLink {
    color: var(--vp-nav-zl-icon);
}

.VPNav .VPSocialLink:hover {
    color: var(--vp-c-white);
}

.VPNav .VPNavBarHamburger .top,
.VPNav .VPNavBarHamburger .middle,
.VPNav .VPNavBarHamburger .bottom,
.VPNav .VPNavBarExtra .vpi-more-horizontal {
    background-color: var(--vp-c-white);
}

.VPNav .VPNavBarTitle.has-sidebar .title {
    border-bottom: none;
}
